[submodule "ThirdParty/GUI/ocornut"]
	path = ThirdParty/GUI/ocornut
	url = https://github.com/ocornut/imgui
[submodule "ThirdParty/DirectXTK"]
	path = ThirdParty/DirectXTK
	url = https://github.com/Microsoft/DirectXTK.git
[submodule "ThirdParty/google"]
	path = ThirdParty/google
	url = https://github.com/google/googletest.git
