[submodule "ThirdParty/GUI/ocornut"]
	path = ThirdParty/GUI/ocornut
	url = https://github.com/ocornut/imgui
[submodule "ThirdParty/DirectXTK"]
	path = ThirdParty/DirectXTK
	url = https://github.com/Microsoft/DirectXTK.git
[submodule "ThirdParty/google"]
	path = ThirdParty/google
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/vcglib"]
	path = ThirdParty/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib.git
[submodule "ThirdParty/DXUT"]
	path = ThirdParty/DXUT
	url = https://github.com/Microsoft/DXUT.git
[submodule "ThirdParty/freetype"]
	path = ThirdParty/freetype
	url = https://github.com/ubawurinna/freetype-windows-binaries.git
[submodule "ThirdParty/glslang"]
	path = ThirdParty/glslang
	url = https://github.com/KhronosGroup/glslang.git
