[submodule "ThirdParty/DirectXTK"]
	path = ThirdParty/DirectXTK
	url = https://github.com/Microsoft/DirectXTK.git
[submodule "ThirdParty/freetype"]
	path = ThirdParty/freetype
	url = https://github.com/ubawurinna/freetype-windows-binaries.git
[submodule "ThirdParty/ImGUI"]
	path = ThirdParty/ImGUI
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/vcglib"]
	path = ThirdParty/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib.git
[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "ThirdParty/glew"]
	path = ThirdParty/glew
	url = https://github.com/nigels-com/glew.git
